# To update these lines, execute
# `bazel run @rules_bazel_integration_test//tools:update_deleted_packages`
build --deleted_packages=rdkafka-sys,rdkafka-sys/third_party,rustls-openssl-fips,rustls-openssl-fips/third_party,rustls-openssl-fips/third_party/crates
query --deleted_packages=rdkafka-sys,rdkafka-sys/third_party,rustls-openssl-fips,rustls-openssl-fips/third_party,rustls-openssl-fips/third_party/crates

try-import %workspace%/local.bazelrc

build --verbose_failures
build --incompatible_strict_action_env

common:ci --announce_rc
common:ci --color=no
test:ci --test_output=errors --test_summary=detailed
