# To update these lines, execute
# `bazel run @rules_bazel_integration_test//tools:update_deleted_packages`
build --deleted_packages=rustls-openssl-fips,rustls-openssl-fips/third_party,rustls-openssl-fips/third_party/crates
query --deleted_packages=rustls-openssl-fips,rustls-openssl-fips/third_party,rustls-openssl-fips/third_party/crates
