name: "CI"
on:
  pull_request:
    branches:
      - main
jobs:
  all_ci_tests:
    runs-on: ubuntu-24.04
    needs:
      - test-matrix
    if: ${{ always() }}
    steps:
      - uses: cgrindel/gha_join_jobs@8a9736c29a7e5ebd9f3af2870f59cb6d563b6659 # v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
  test-matrix:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e
      - uses: cgrindel/gha_set_up_bazel@0a8ec4049a3169b12fae56345c90f483cff54945 # v1
        with:
          repo_name: bazel-examples
      - uses: ./.github/actions/run_docker_compose
        if: ${{ matrix.compose_file }}
        with:
          compose_file: ${{ matrix.compose_file }}
      - name: Run test
        run: bazelisk test ${{ matrix.test_target }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - test_target: '@@//:rustls-openssl-fips-test'
          - test_target: '@@//:rdkafka-sys-test'
            compose_file: './rdkafka-sys/compose.yaml'
